<tr id="46369906">
    <td width="83px;" style="text-align:left;padding-bottom:0px;"><a
            data-delay="{{&quot;show&quot;:700,&quot;hide&quot;:0}}" class="addToCalc"
            title="Put in the calculator" rel="tooltip" href="#"><img src="../static/images/calc.png"
                                                                      alt="Put in the calculator"/></a>
        <a data-delay="{{&quot;show&quot;:700,&quot;hide&quot;:0}}" class="hideBet" title="Hide"
           rel="tooltip" href="#"><img src="../static/images/remove.png" alt="Hide"/></a> <a
                title="{sport}" rel="tooltip" href="#"><img src="../static/images/{sport}.png"
                                                            alt="{sport}"/></a>
        <div align="center"><a style="text-decoration:none; font-size:x-small;"
                               data-original-title="Duration of surebet" rel="tooltip" href="#">{lifetime}
            sec</a></div>
    </td>
    <td>
        <nobr>{profit}</nobr>
    </td>
    <td>
        <div style="white-space:nowrap" href="/en/bets/bgo/b/2/k/a9457f83ed376ce4"
             target="_blank" rel="noopener noreferrer">{book1}
        </div>
        <div style="white-space:nowrap" href="/en/bets/bgo/b/20/k/935120439c994ea3"
             target="_blank" rel="noopener noreferrer">{book2}
        </div>
    </td>
    <td><a class="copyClipboard" rel="tooltip" href="#" data-original-title="Copy to clipboard"
           data-delay='{{"show":"700", "hide":"0"}}' style="margin-right:4px;"
           onclick='event.preventDefault();  var t = $(this).nextAll("small").prev().text(); if (t.indexOf(" vs ") > -1){{ t = t.substring(0, t.indexOf(" vs "));}} else {{/*alert("error: copying to clipboard")*/ t = "";}} copyTextToClipboard(t); return false;'><img
            src="../static/images/glyphicons/glyphicons-155-more-windows9.png"
            alt="Copy to clipboard"></a>
        <div style="display: inline"
             href="/en/bets/go/e/1461855/b/2/elid/82439/k/93036db1308308c9" target="_blank"
             rel="noopener noreferrer">{teams1}
        </div>
        <small> ({league}) <b>{score}</b> ({time}), {part}
        </small>
        <br/><a class="copyClipboard" rel="tooltip" href="#"
                data-original-title="Copy to clipboard" data-delay='{{"show":"700", "hide":"0"}}'
                style="margin-right:4px;"
                onclick='event.preventDefault();  var t = $(this).nextAll("small").prev().text(); if (t.indexOf(" vs ") > -1){{ t = t.substring(0, t.indexOf(" vs "));}} else {{/*alert("error: copying to clipboard")*/ t = "";}} copyTextToClipboard(t); return false;'><img
                src="../static/images/glyphicons/glyphicons-155-more-windows9.png"
                alt="Copy to clipboard"></a>
        <div style="display: inline"
             href="/en/bets/go/e/1461897/b/20/elid/82439/k/ea7f6642e2d36d98" target="_blank"
             rel="noopener noreferrer">{teams2}
        </div>
        <small> ({league}) <b>{score}</b> ({time}), {part}</small>
    </td>
    <td>
        <nobr>
            <div style="display: inline"
                 href="/en/bets/go/e/1461855/b/2/elid/82439/k/93036db1308308c9" target="_blank"
                 rel="noopener noreferrer">{w1_name} {part}
            </div>
        </nobr>
        <br/>
        <nobr>
            <div style="display: inline"
                 href="/en/bets/go/e/1461897/b/20/elid/82439/k/ea7f6642e2d36d98" target="_blank"
                 rel="noopener noreferrer">{w2_name} {part}
            </div>
        </nobr>
    </td>
    <td style="padding:0px 7px 0px 0px">
        <nobr><a rel="tooltip" href="#" data-original-title="Movement"><img
                src="../static/images/arrowdown.png" alt="down"></a>{w1_factor}<a rel="tooltip" href="#"
                                                                                  data-original-title="Involved in 2 surebets"><sub><span
                style='font-size:xx-small;'>2</span></sub></a></nobr>
        <br/>
        <nobr><a rel="tooltip" href="#" data-original-title="Movement"><img
                src="../static/images/arrowfreeze.png" alt="freeze"></a><a
                style="color:#000000; text-decoration:none" rel="tooltip" href="#"
                data-original-title="Initiator "><b>{w2_factor}</b></a><a rel="tooltip" href="#"
                                                                          data-original-title="Involved in 7 surebets"><sub><span
                style='font-size:xx-small;'>7</span></sub></a></nobr>
    </td>
    <td style="display:none">{w1_factor}</td>
    <td style="display:none">{w2_factor}</td>
    <td style="display:none">1</td>
    <td style="display:none">1</td>
    <td style="display:none">{w1_name} {part}</td>
    <td style="display:none">{w2_name} {part}</td>
    <td style="display:none">1461855_7_2_-8.5</td>
    <td style="display:none">1461897_8_2_8.5</td>
    <td style="display:none">1461855</td>
    <td style="display:none">1461897</td>
    <td style="display:none">0</td>
    <td style="display:none">2</td>
    <td style="display:none">20</td>
    <td style="display:none">82439</td>
    <td style="display:none">fe6bf207c1041821</td>
    <td style="display:none">98bacc190ba77a0a</td>
</tr>