# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# these owners  will be requested for
# review when someone opens a pull request.

* @korovkinand @marshygeek

# Order is important; the last matching pattern takes the most
# precedence

/surebet/loading @marshygeek
/surebet/loading/async.py @korovkinand
/surebet/loading/selenium.py @korovkinand

/surebet/parsing/olimp.py @nikinsta

/surebet/tests/handling @marshygeek

