# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# these owners  will be requested for
# review when someone opens a pull request.

* @marshygeek @korovkinand

# Order is important; the last matching pattern takes the most
# precedence

/surebet/loading @marshygeek
/surebet/loading/async.py @korovkinand
/surebet/loading/selenium.py @korovkinand

/.travis.yml @iamsre

/surebet/tests/parsing/olimp @nikinsta
/surebet/tests/parsing/__init__.py @nikinsta
/surebet/tests/parsing/test_sites.py @nikinsta
/surebet/tests/parsing/test_posit.py @nikinsta

/surebet/tests/handling @marshygeek
/surebet/tests/handling/test_exclude.py @Raashi
/surebet/tests/handling/excluding @Raashi

/surebet/tests/loading/posit @Raashi
/surebet/tests/loading/test_posit.py @Raashi

/surebet/converting/convert_names.py @nikinsta
