aiohttp==2.3.7
async-timeout==2.0.0
attrs==17.4.0
certifi==2017.11.5
chardet==3.0.4
coverage==4.4.2
EasyProcess==0.2.3
fuzzywuzzy==0.16.0
idna==2.6
lxml==4.1.1
multidict==3.3.2
pluggy==0.6.0
py==1.5.2
pytest==3.3.2
pytest-cov==2.5.1
python-Levenshtein==0.12.0
PyVirtualDisplay==0.2.1
requests==2.18.4
selenium==3.8.1
six==1.11.0
urllib3==1.22
yarl==0.18.0
